<div class="page-header row-fluid">
  <h1><%= t nil, default: t('openlists.list_of', default: "List of %s") % [t('openlists.libraries', default: 'Libraries')] %></h1>
</div>

<div class="row-fluid" id="items-list">
  <%= render :partial => 'list' %>
</div>

<%= link_to t('openlists.import_domain', default: "Import a domain"),
            new_domain_path,
            :class => 'btn btn-mini btn-primary' %>
