<h1>Listing domains</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @domains.each do |domain| %>
  <tr>
    <td><%= domain %></td>
    <td><%= link_to 'Show', domain_path(domain) %></td>
    <td><%# link_to 'Edit', edit_domain_path(domain) %></td>
    <td><% link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Domain', new_domain_path %>
