<h1><%= t nil, default: t('openlists.new', default: "New %s") % [@model.display_name] %></h1>

<%= render partial: 'form', locals: {domain: @domain, model: @model, item: @item} %>

<%= link_to 'Back', model_path %>
