<%= form_for(@domain_list) do |f| %>
  <% if @domain_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain_list.errors.count, "error") %> prohibited this domain_list from being saved:</h2>

      <ul>
      <% @domain_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
