<!DOCTYPE html>
<html>
<head>
  <title>OpenLists</title>
  <%= stylesheet_link_tag    "open_lists/application", :media => "all" %>
  <%= javascript_include_tag "open_lists/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
